/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{


    background-color: white;
}*/

#container-prodotti{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: white;
    /* margin-bottom: 400px;*/
    overflow-y: auto;
}
aside{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    align-items: center;

    background-color: white;
    text-align: left;
}
aside form{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    margin-left: 10px;
    margin-top: 100px;
    width: 98%;
    /* background-color: rgba(166,178,190,0.98);*/
    background-color: lightgray;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}
form .filtraggio{
    width: 100%;
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}
.filtraggio label{
    font-size: 22px;
    margin-bottom: 10px;
}
form.products input{
    /*  height: 30%;*/
    flex-basis: 30%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px;
    margin-left: 5px;
}
.filtraggioPrezzo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.filtraggioPrezzo input{
    width: 10%;
    padding: 5px;
    margin: 10px;
}
/*.prezzo-filter{
    padding: 5px;
   flex-basis: 50%;
}*/
form.products input[type="submit"]{
    flex-basis: 10%;
    padding: 13px;
    /*  width: 60%;*/
    margin-top: 15px;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    margin: 20px auto 20px;
}
aside a{
    margin-left: 10px;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 24px;
    margin-top: 10px;
    background-color: white;
    color: black;
}
aside ul{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    display: block;
    float: left;
}
aside ul li{
    display: block;
    text-align: left;
    padding: 8px;
    background-color: white;
    margin-left: 5px;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;


    /*background-color: lightsalmon;*/
    width:75% ;
}
main .filter{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    background-color: inherit;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.filter select{
    background-color: white;
    float: right;
    height: 100%;
    outline: none;
    border: none;
    margin-right: 35px;
}
#ordinamento option{
    background-color: white;
    padding: 6px;
    border: none;
    width: 900px;
    height: 10%;
    font-size: 19px;
}
/*main .prodotti{
    display: inline-flex;
    width: 100%;
    background-color: yellow;
}*/

main .prodotti{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 90%;*/
    background-color: white;
}
.prodotti article{
    /* width: 30%;*/
    /*height: 30vh;*/

    margin:18px;
    flex-basis: 27%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.prodotti article:hover{
    flex-basis: 32%;

}
.prdotti article:hover a img{
    width: 200px;
    height: 200px;
}

.prodotti article figure{
    display: block;
    position: relative;
    margin: 8px auto;
    width: 90%;
    background-color: white;
}
.prodotti article figure img{
    display: flex;
    margin: auto;
    max-width: 80%;
}

.prodotti article figure figcaption{
    text-align: center;
    display: block;
    padding: 3px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}
figcaption a{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
figcaption a:hover{
    font-size: 17px;
    color: skyblue ;
}
.prodotti article .aggiungi{
    width: 80%;
    height: 30px;
    display: block;
    margin:6px  auto;
    text-align: center;
    background-color: white;
    border-top: 1px solid li;
    color: black;
}
.aggiungi span.iconaCarrello{
    display: flex;
    justify-content: center;
    width: 10%;
    height: 100%;
    float: left;
    background-color: white;
    border: 1px solid lightgrey;
}
span.iconaCarrello i{
    margin:auto 0;

}
.aggiungi span.btn{
    display: none;
    float: left;
    width: 60%;
    height: 100%;
    background-color: white;
    text-decoration: none;
    transition: width .9s;

}
span.btn button{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 11px;
    color: whitesmoke;
    cursor: pointer;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    background-color: limegreen;
    background-image: linear-gradient( limegreen,lawngreen);
    box-shadow: 0px 5px 10px rgb(92, 218, 42);
    animation: bottoneLampeggiante;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes bottoneLampeggiante {
    from {opacity: 0.2;}
    to {opacity: 0.8;}
}
@keyframes bottoneLampeggiante {
    from {width: 0%;}
    to {width: 100%;}
}
.aggiungi span.iconaCarrello:hover{
    cursor:pointer;
    opacity: 0.4;
}
.aggiungi span.iconaCarrello:hover i{
    color: limegreen;
}
/*span.iconaCarrello:hover  + span.btn{
    visibility: visible;
}*/
/*span.iconaCarrello:visited :after + span.btn{
    visibility: visible;
}*/

/*CSS PAGINATION*/
.center-pagination{
    /* display: flex;
     margin-top: 10px;
     text-align: center;
     height: 50px;*/
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    height: 30%;
    background-color: white;


}
.pagination{
    display: flex;
}

.center-pagination a{
    color: black;
    text-decoration: none;
    padding : 5px 15px;
    transition: background-color .4s;
    height: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

    margin: 0px 4px;
}

.center-pagination a:hover{
    background-color: lawngreen;

}


@media screen and (max-width:550px) {
    #container-prodotti{
        flex-direction: column;
        width: 100%;
        background-color: inherit;
        /* margin-bottom: 2880px;*/

    }
    /*aside{
        display: none;
    }*/
    aside{

        width: 100%;
        height: 70%;
        background-color: white;
    }
    aside form{
        width: 80%;
        padding: 5px;
        font-size: 15px;
    }
    .filtraggio label{
        font-size: 15px;
    }
    main{
        width: 100%;

        /* background-color: rgb(92, 218, 42);*/
    }
    .filter{
        background-color: red;
        flex-basis: 100%;
    }

    .prodotti article{
        flex-basis: 80%;
    }

    .prodotti article:hover{
        flex-basis: 85%;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    #container-prodotti{
        flex-direction: column;
    }

    aside{
        width: 100%;
        background-color: white;
        align-items: center;

    }
    aside form{
        width: 50%;
    }

    main{
        width: 100%;
    }

    main .prodotti{

        width: 100%;
        flex-basis: 100%;

    }

    .prodotti article{
        flex-basis: 30%;
        flex-wrap: wrap;
    }
}