*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*h1.list {
    text-align: center;
    padding: 10px;
    color: #009fe3;
}*/

table{
    display: flex;
    width: 80%;
    background-color: white;

  /*  margin: 20px auto 40px;*/
    margin-top: 20px;
    margin-bottom: 40px;
}
table{
    border: none;
    border-collapse: collapse;
    overflow: auto;
    border-radius: 15px;
}


th,td{
    padding: 10px;
}
th{
    background-color: limegreen;
    color: white;
    height: 50px;
}
td{
    width:160px;
    text-align: center;
}
td a{
    text-decoration: none;
    cursor: pointer;
}
tr:nth-child(even) {background-color: #e0f1ff/*#f2f2f2*/;}



/*CSS PAGINATION*/
.center-pagination{
    display: flex;
    width: 50%;
    margin: 40px auto 40px;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 50px;

}
.pagination{

    display: flex;

}

.center-pagination a{
    color: black;
    text-decoration: none;
    padding : 5px 15px;
    transition: background-color .4s;
    height: 70%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

    margin: 0px 4px;
}

.center-pagination a:hover{
    background-color: lawngreen;
}

@media screen and (max-width:550px) {
    table{
        width: 90%;
    }
}